{% extends 'base.html' %}

{% block title %}
Фантастика
{% endblock %}

{% block body %}
<h2>Фантастика</h2> — жанр, объединяющий художественные произведения, в которых повествуется о событиях, мирах и героях, нарушающих границы реальности.
Фантастика рассказывает о том, что находится за гранью реальности, и строится на фантастическом допущении.
Она включает в себя множество жанров и поджанров, начиная от антиутопий и научной фантастики и заканчивая фэнтези и магическим реализмом.
{% endblock %}